#root {
  max-width: 1600px;
  margin: 0 auto;
  padding-inline: 2%;
  text-align: center;
}

.app {
  min-height: 90vh;
  background-color: gray;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
}

.main-buttons {
  background-color: #ccd8da;
}
