#root {
  max-width: 1800px;
  margin: 0 auto;
}

.app {
  min-height: 90vh;
  background-color: gray;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
}

.main-buttons {
  background-color: #ccd8da;
}

.section-margin {
  margin-inline: 60px;
}
