.mainButton {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.mainButton img {
    width: 40px;
    height: 40px;
}

.mainButton > div {
    display: flex;
    align-items: center;
}

.clearButton > div {
    color: red;
}

Button {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    background-image: linear-gradient(90deg, rgb(233, 229, 229), rgb(159, 158, 158), rgb(233, 229, 229), gray, #56556d);
    color: white;
    border-radius: 5px;
    transition: 0.4s;
} 

button:hover {
    color: gold;
    cursor: pointer;
}

p {
    margin: 0;
}

.Save button {
    display: flex;
    align-items: center;
}

.downArrow img:hover {
    transform: translateY(10px);
    transition: all 0.5s ease-out;
}

/* styling the visibility*/
.hide-element {
    display: none;
}

.show-element {
    display: block;
    margin-inline: 5px;
}