.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo .logo-icon {
    width: 20px;
    margin: 0;
    position: absolute;
    right: -22px;
    top: 20px;
}

.header {
    max-height: 80px;
    display: flex;
    justify-content: space-between;
}

.headerLinks {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerLinks p {
    color: black;
    transition: 0.4s;
}

.headerLinks p:hover {
    color: #B38B59;
}