
.uploading-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.show h1, h3 {
    margin: 0;
}

.picture img {
    width: 100%;
    object-fit: cover;
}

.upload-buttons button {
    margin: 10px;
    height: 50px;
}

/* styling the picture border style */
.picture-border-style {
    display: flex;
}

.border-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition: 0.5s ease-in;
}

.border-style:hover {
    color: white;
    cursor: pointer;
}

.border-style-1 img {
    width: 70px;
    margin: 0;
}

.border-style-2 img {
    width: 70px;
    margin: 0;
    border-radius: 10px;
}

.border-style-3 img {
    width: 70px;
    margin: 0;
    border-radius: 50%;
}