.homePage {
    color: black;
    font-size: 20px;
}

.landingPage {
    margin: 0;
    padding: 0;
    position: relative;
}

.landingPage .background1 {
    margin: 0;
    width: 100%;
    height: 650px;
}

.landingPage .background1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.landingPage .landingPage-content {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.landingPage .landingPage-content > div {
    max-width: 800px;
    min-width: 300px;
    margin-inline: 10px;
}

.landingPage .landingPage-content h1{
    font-size: 20px;
    margin:20px 5px;
    color: white;
}

.landingPage .landingPage-content h2{
    font-size: 20px;
    margin:20px 5px;
    color: white;
}

.landingPage .landingPage-content p{
    font-size: 20px;
    margin:20px 5px;
    color: white;
}

.landingPage .landingPage-content h1 {
    font-size: 40px;
    color: rgb(94, 146, 196);
}

.landingPage .landingPage-content .cv-image1 {
    width: 100%;
    margin-top: 20px;
    max-width: 500px;
}

.landingPage .landingPage-content .cv-image1 img{
    width: 100%;
}

/* ..................................................................................... */
.time-section {
    margin-top: 70px;
    margin-bottom: 70px;
}

.time-section h1{
    font-size: 40px;
    text-align: center;
    margin: 50px auto;
    max-width: 500px;
}

.time-section .time-section-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.time-section .time-section-content > div {
    max-width: 600px;
    flex: 1;
}

.time-section .time-section-content .cv-person1 {
    width: 100%;
}

.time-section .time-section-content .cv-person1 img{
    width: 100%;
}

.time-section .list-item {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}

.time-section .center-text {
    text-align: center;
}

/* ............................................................................................... */

.steps-section-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-image: linear-gradient(70deg, gray, gray, rgb(70, 140, 187));
}

.steps-section-container .step-image {
    width: 100%;
}

.steps-section-container .step-image img {
    width: 100%;
}

.steps-section-container p {
    margin: 0;
}

@media (max-width:1000px) {
    .landingPage .landingPage-content {
        flex-direction: column;
    }

    .landingPage .landingPage-content {
        top: 350px;
    }

    .landingPage {
        margin-bottom: 400px;
    }

    .time-section .time-section-content {
        flex-direction: column;
    }
}