

.templatePage .banner {
    width: 100%;
    height: 180px;
    z-index: -1;
    position: relative;
}

.templatePage .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.templatePage .banner h1 {
    font-size: 70px;
    position: absolute;
    margin: 0;
    color: white;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.templatePage .intro-templates {
    display: flex;
    justify-content: center;
}

.templatePage .intro-templates > div {
    max-width: 600px;
    max-height: 350px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid rgb(139, 95, 95);
    position: relative;
}

.templatePage .intro-templates > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.templatePage .intro-templates .smaller-sized {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.templatePage .intro-templates .left {
    position: absolute;
    top: 50%;
    left: -50%;
    translate: -50% -53%;
    z-index: -1;
    animation: left_slide 1s ease-in 0s 1 ;
}

@keyframes left_slide {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.templatePage .intro-templates .right {
    position: absolute;
    top: 50%;
    right: -140%;
    translate: -50% -53%;
    z-index: -1;
    animation: right_slide 1s ease-in 0s 1 ;
}

@keyframes right_slide {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* Styling template */
.templates-section {
    font-size: 20px;
}

.templates-section > h1 {
    text-align: center;
    font-size: 60px;
}

.templates-section > p {
    text-align: center;
    max-width: 450px;
    margin: auto;
}

.templates-section .templates-list-container {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.template-con {
    max-width: 400px;
    margin: 20px;
}

.template-con .template-image {
    max-width: 400px;
    position: relative;
}

.template-con .template-image img {
    width: 100%;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 5px;
}

.template-con .template-image img:hover {
    border: 1px solid rgb(85, 151, 189);
}

.template-con .template-image .template-overlay-hide {
    display: none;
    transition: 0.4s ease-in-out;
}

.template-con .template-image .template-overlay-show {
    display: block;
    transition: 0.4s ease-in-out;
}

.template-con .template-image .image-overlay {
    width: 100%;
    height: 400px;
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(180deg, transparent, rgb(85, 151, 189), rgb(189, 187, 187), transparent);
    opacity: 0.5;
    position: absolute;
    bottom: 20px;
}

.template-con .template-image .template-overlay-show button {
    z-index: 2;
    padding: 15px;
    font-size: 25px;
    font-weight: 600;
    border: 1px solid transparent;
    position: absolute;
    bottom: 20%;
    left: 50%;
    translate: -50% -50%;
    transition: 0.4s ease-in-out;
}

.template-con .template-image .template-overlay-show button:hover {
    border: 1px solid rgb(85, 151, 189);
    color: rgb(85, 151, 189);
    font-size: 28px;
}

.template-con .template-stars-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.template-con .template-stars img {
    max-width: 20px;
}

.template-con .template-stars-con .cv_type {
    padding: 10px;
    background-image: linear-gradient(70deg, #ccd8da, #ccd8da, rgb(161, 204, 224));
    border-radius: 10px;
}

.template-con .template-dec {
    margin-top: 5px;
    color: gray;
}